#search form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form div {
  margin: 1rem 1rem 1rem 0;
}

input {
  width: 200px;
  border: 2px solid black;
  align-content: center;
  font-size: .75rem;
}

#position-search-select {
  width: 206px;
  appearance: none;
  height: 21px;
  border-radius: 0;
  background-color: white;
  padding: 1px;
  border: 2px solid black;
  color: #7b7b7b;
  font-size: .75rem;
}

#player-search-button {
  margin: .5rem 0;
  width: 100px;
  height: 40px;
}

td, th {
  padding: 1rem;
}

.players-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header th {
  width: 25%;
  border: 2px solid #3c3c3c;
  background-color: #8f8f8f;
  color: white;
  margin: 0;
}

.player-list td {
  text-align: center;
  border: 2px solid black;
}